body{
    text-align: center;
    background-image: url("background.gif");
    background-size: cover;
}
#bdaycard{
    border-width: 10px;
    border-style: inset;
    border-color: blueviolet;
    background-color: white;
}